<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/addons/p5.sound.min.js"></script> -->
  <meta charset="utf-8" />

</head>

<body>

  <button onclick="clearCanvas()">Clear Canvas</button>
  <button onclick="captureScreenshot()">Capture Screenshot</button>
  <p id="bleData">Waiting for data...</p>
  <script>
    function setup() {
      canvas = createCanvas(windowWidth, windowHeight);
      cursorX = width / 2; // Start in the middle of the canvas
      cursorY = height / 2;
      background(102); // Set initial background color to gray
    }

    let cursorX, cursorY;
    let joystickData;
    let cursorSize = 20; // Size of the cursor
    const speed = 15; // Speed of the cursor movement

    function draw() {
      // Draw only when mouse is pressed
      stroke(255);
      if (mouseIsPressed === true) {
        line(mouseX, mouseY, pmouseX, pmouseY);
      }


      console.log(joystickData);
      // Draw the cursor
      if (joystickData) {
        let angle = joystickData;
        let radian = radians(angle); // Convert degrees to radians

        // Calculate movement
        let moveX = sin(radian) * speed;
        let moveY = sin(radian) * speed;

        // Update cursor position with boundaries
        cursorX += moveX;
        cursorY -= moveY; // Subtract because in p5.js, the y-axis is inverted

        // Constrain cursor within canvas boundaries
        cursorX = constrain(cursorX, 0, width - cursorSize);
        cursorY = constrain(cursorY, 0, height - cursorSize);
      }

      // Draw the cursor
      fill(0, 0, 0);
      noStroke();
      ellipse(cursorX, cursorY, cursorSize);
    }

    function clearCanvas() {
      background(102);
    }

    function captureScreenshot() {
      saveCanvas(canvas, 'screenshot', 'png');
    }

  </script>

  <!-- get data from the backend -->
  <!-- <script>
    function updateData() {
      fetch('/get_raw')
        .then(response => response.json()) // Convert the response to JSON
        .then(data => {
          // Assuming data is an object with a structure like { joystick: { x: "value", y: "value", z: "value" }}
          if (data.joystick) {
            const joystickData = data.joystick;
            document.getElementById('bleData').innerText = `X: ${joystickData.x}, Y: ${joystickData.y}, Z: ${joystickData.z}`;
            if (joystickData.z == 0) {
              clearCanvas();
            }
          } else {
            document.getElementById('bleData').innerText = "No data";
          }
          // console.log(data);
        })
        .catch(error => console.error('Error:', error));
    }
    // setInterval(updateData, 100);
  </script> -->

  <script>
    if (window.Worker) {
      const myWorker = new Worker("./static/js/worker.js");

      myWorker.onmessage = function (e) {
        console.log(e.data);
        joystickData = e.data["joystick"];
        // console.log(e.data["clear"]);
        // document.getElementById('bleData').innerText = `X: ${joystickData.x}, Y: ${joystickData.y}, Z: ${joystickData.z}`;
        if (e.data["clear"]) {
          clearCanvas();
        }
      }

      setInterval(() => {
        myWorker.postMessage('fetchData');  // Send message to worker to fetch data
      }, 500);
    }
  </script>

</body>

</html>